[Unit]
Description=Canvas Notebook Auto-Update
After=canvas-notebook-updater.socket network-online.target
Wants=canvas-notebook-updater.socket network-online.target

[Service]
Type=oneshot
ExecStart=__CLI_PATH__ updater-trigger --channel stable --no-banner
TimeoutStartSec=120
